<div class="page-header">
  <h3><%= @charge.charge_description %> for <%= @charge.event.event_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Who Paid?</dt>
      <dd><%= @charge.payer.username %></dd>

      <dt>Who Owes?</dt>
      <dd><%= @charge.ower.username %></dd>

      <dt>How much is owed?</dt>
      <dd><%= number_to_currency @charge.amount %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/charges" class="btn btn-primary">
        Back
      </a>
      <a href="/charges/<%= @charge.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_charge/<%= @charge.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
